<section class="home-section home-cta">
  <div class="container">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="20px">
      <div fxFlex="66.666">
        <h2>Save With Our Cost-Effective, Highly Professional Services</h2>
        <p>Our inmate transfer services are available 7 days a week—both by ground and air, depending on the option that most
          efficiently meets your agency’s needs.</p>
      </div>
      <div fxFlex="33.333" fxLayoutAlign="center center">
        <button scrollTo="contact-section" mat-raised-button mat-lg-button color="accent">CONTACT US</button>
      </div>
    </div>
  </div>
</section>
