<section id="service-section" class="home-section" [ngClass]="{'light-gray': backgroundGray}">
  <div class="container">
    <div class="section-header">
      <h2>Our Services</h2>
      <p>Quality Transport Services with a focus on Safety, Quality, and On-Time Performance.
      </p>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="20px">
      <div fxFlex="25">
        <mat-card class="home-fancy-card">
          <div fxLayout="column">
            <div class="text-center">
              <mat-icon mat-card-icon>security</mat-icon>
            </div>
            <span fxFlex="20px"></span>
            <h3 class="m-0 font-light">Safety</h3>
            <span fxFlex="20px"></span>
            <p class="m-0 description">All our agents are Military Veterans or Former Law Enforcement! </p>
            <p class="m-0 description">U.S. Transport &amp; Extradition transports prisoners at all security levels coast to coast by ground or via
              aircraft safely and securely. We pride ourselves in short turn around. We arrive on time and we deliver on
              time.
            </p>
            <span fxFlex="40px"></span>
            <!-- <div>
              <button mat-button>
                <strong class="text-muted">READ MORE</strong>
              </button>
            </div> -->
          </div>
        </mat-card>
      </div>
      <div fxFlex="25">
        <mat-card class="home-fancy-card">
          <div fxLayout="column">
            <div class="text-center">
              <mat-icon mat-card-icon>access_time</mat-icon>
            </div>
            <span fxFlex="20px"></span>
            <h3 class="m-0 font-light">Timeliness</h3>
            <span fxFlex="20px"></span>
            <p class="m-0 description">You never have to worry about timeliness with U.S. Transport &amp; Extradition. Our highly coordinated logistic
              team ensures that your detaineed arrives at his/her destination on time.</p>
            <p class="m-0 description">Our inmate transfer services are available 7 days a week— both by ground and air, depending on the option that
              most efficiently meets your agency’s needs.</p>
            <span fxFlex="40px"></span>
          </div>
        </mat-card>
      </div>
      <div fxFlex="25">
        <mat-card class="home-fancy-card">
          <div fxLayout="column">
            <div class="text-center">
              <mat-icon mat-card-icon>build</mat-icon>
            </div>
            <span fxFlex="20px"></span>
            <h3 class="m-0 font-light">Efficiency</h3>
            <span fxFlex="20px"></span>
            <p class="m-0 description">U.S. Transport &amp; Extradition is dedicated to providing your agency with the most cost-effective and professional
              prisoner transportation available. </p>
            <p class="m-0 description">By utilizing our services, your agency can increase the amount of prisoners transported with the same operating
              budget and keeping your officers where they are needed most.</p>
            <span fxFlex="40px"></span>
          </div>
        </mat-card>
      </div>
      <div fxFlex="25">
        <mat-card class="home-fancy-card">
          <div fxLayout="column">
            <div class="text-center">
              <mat-icon mat-card-icon>commute</mat-icon>
            </div>
            <span fxFlex="20px"></span>
            <h3 class="m-0 font-light">Custom Fleet Services</h3>
            <span fxFlex="20px"></span>
            <p class="m-0 description">Ground service is provided with a fleet Vehicles. Each vehicle is equipped with professionally-built transport
              cells that allow secure segregation of males, females, juveniles, violent/high risk or mentally ill inmates.
              These cells are designed to provide maximum security, reducing the risk of an escape.</p>
            <p class="m-0 description">U.S. Transport &amp; Extradition will provide at least two (2) agents to each vehicle transporting inmates. Our
              fleet consists of Passenger Vans and SUV’s. All are equipped with GPS, and navigation with home base networking.
              Our vehicles are serviced weekly at a local ASE certified mechanic.</p>
            <span fxFlex="40px"></span>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</section>
