<footer class="home-footer">
  <section class="home-footer-top">
    <div class="container">
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap">
        <div fxFlex="50" class="footer-box">
          <h4 class="footer-box-title">
            <b>About Us</b>
          </h4>
          <p>U.S. Transport specializes in secure prisoner transportation and extradition services to every location in the
            Continental United States, Hawaii, Alaska, Puerto Rico and the U.S. Virgin Islands.</p>
          <p>We adhere/abide by the Interstate Transportation of Dangerous Criminals ACT 2000: better known as Jeanna’s ACT.
            Between Jeanna’s ACT and DOT being more stringent we surpass the requirements of the “Tennessee Lawful Employment
            ACT”. We are registered with the Secretary of State in Florida.</p>
        </div>
        <div fxFlex="50" class="footer-box">
          <h4 class="footer-box-title">
            <b>Contact</b>
          </h4>
          <mat-list>
            <mat-list-item fxFlex="50">
              <mat-icon mat-list-icon color="accent">location_on</mat-icon>
              <h5 matLine>
                <b>Adress</b>
              </h5>
              <p matLine>13080 Rosewood Lane</p>
              <p matLine>Palm Beach Gardens,</p>
              <p matLine>FL 33418</p>
            </mat-list-item>
            <mat-list-item fxFlex="50">
              <mat-icon mat-list-icon color="accent">email</mat-icon>
              <h5 matLine>
                <b>Email</b>
              </h5>
              <p matLine>info@us-extradition.com </p>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
    </div>
  </section>
</footer>
